#site {
    /* Definimos a largura da página */
    width: 1000px;
    /* Definirmos a altura da página*/
    height: 800px;
    /* Aqui definiremos a posição que a página ocupará na tela*/
    /*top : posição de cima */
    margin-top: 0;
    /* left: posição de esquerda*/
    margin-left: auto;
    /* bottom : posição de baixo */
    margin-bottom: 0;
    /* right : posição de direita */
    margin-right: auto;
    /* Aqui definiremos a cor de fundo da página */
    background-color: #f1f1f1;
}

#header {
    width: 1000px;
    height: 100px;
    background-color: #4d4d4d;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav>a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 700;
    font-size: 28px;
    font-family: Pacifico, serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #00F;
}

nav {
    flex-direction: row;
    justify-content: space-around;
}

nav ul {
    flex-direction: row;
    width: 70%;
}

#conteudo {
    width: 1000px;
    height: 600px;
    background-color: #4d4d4d;
}

p{
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var 3rem;
    counter-reset: grid-counter;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

#footer {
    width: 1000px;
    height: 300px;
    background-color: #f1f1f1;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}